.series {
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.series--laptop {
    height: 120px;
    align-self: last baseline;
}

.series--description {
    margin-left: 64px;
    padding-right: 24px;
}

.series--description--series {
    font-size: 20px;
}

.series--description--text {
    font-weight: 100;
    font-size: 20px;
    margin-top: -8px;
}